@import url('../../../css/reset.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

body {
  background: rgb(149, 129, 182);

  width: 100%;

  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: 0.5s ease-out all;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  pointer-events: none;
}

.presentation .header {
  padding-bottom: 1.5rem;
}

.presentation .header h1 {
  font-size: 4rem;
}

.presentation .header .years {
  font-size: 1rem;
  width: 500px;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 1rem;
  border-radius: 20px;
  position: relative;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.birthday {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  pointer-events: none;
}

.simply-section {
  background: #fff;
  width: 180px;
  height: 180px;
  margin: 0 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.simply-amount {
  display: block;
  font-size: 50px;
  font-weight: 700;
}

.simply-word {
  font-weight: 300;
  font-size: 30px;
}

.close {
  color: #000;
  background-color: #8f47ad;
  padding: 1.5rem;
  border-radius: 15px;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all ease-in-out 0.3s;
}

.close:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

@media screen and (max-width: 1024px) {
  body {
    margin: auto;
  }

  .birthday {
    margin-bottom: 50px;
  }

  .presentation .header {
    padding-bottom: 0;
  }

  .simply-section {
    width: 8rem;
    height: 8rem;
    margin: 5px;
  }

  .simply-amount {
    font-size: 30px;
  }
  .simply-word {
    font-size: 15px;
  }
}

@media screen and (max-width: 840px) {
  .birthday {
    flex-wrap: wrap;
  }

  .simply-section {
    width: 8rem;
    height: 8rem;
    margin: 5px;
  }

  .simply-amount {
    font-size: 30px;
  }

  .simply-word {
    font-size: 15px;
  }

  .presentation .header h1 {
    font-size: 1.5rem;
  }

  .presentation .header .years {
    font-size: 1rem;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 1rem;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}

@media screen and (max-width: 425px) {
  body {
    padding: 2rem;
  }

  .birthday {
    flex-wrap: wrap;
  }

  .simply-section {
    width: 5rem;
    height: 5rem;
    margin: 5px;
  }

  .simply-amount {
    font-size: 30px;
  }

  .simply-word {
    font-size: 15px;
  }

  .presentation .header h1 {
    font-size: 1.5rem;
  }

  .presentation .header .years {
    font-size: 1rem;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 1rem;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}
